@model Medipac.Areas.RES.Data.DTO.DtoResEspecialidades

@using (Html.BeginForm("Edit", "ResEspecialidades"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IdEspecialidad)

    <div class="modal-body">
        <div class="mb-3">
            <label for="Nombre" class="form-label">Nombre</label>
            @Html.EditorFor(model => model.Nombre, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control",
                        @placeholder = "Ingrese el nombre de la especialidad"
                    }
                })
        </div>

        <div class="mb-3">
            <label for="Estado" class="form-label">Estado</label>
            @Html.DropDownListFor(model => model.Estado, new SelectList(ViewBag.Estado, "Key", "Value"), "Seleccione...", new
                {
                    @class = "form-select"
                })
        </div>
    </div>

    <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <input type="submit" class="btn btn-primary" value="Guardar" />
    </div>
}
