@model IEnumerable<Medipac.Areas.RES.Data.DTO.DtoResAgenda>

@{
    ViewData["Title"] = "Agenda del Médico";
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}

<div class="container mt-5">
@*     <!-- Botón para añadir una nueva disponibilidad -->
    <div class="d-flex justify-content-end mb-3">
        <a asp-action="Create" class="btn btn-primary">Crear Disponibilidad</a>
    </div> *@

    <!-- Contenedor del calendario -->
    <div id="calendar"></div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'es', // Establecer idioma a español
            timeZone: 'America/Santiago', // Zona horaria de Chile
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            events: '/RES/ResAgenda/GetEvents', // Cargar eventos mediante AJAX
            editable: true,
            selectable: true,

            // Evento para ver detalles de la disponibilidad
            eventClick: function (info) {
                window.location.href = 'ResAgenda/Details/' + info.event.id;
            },

            // Evento para seleccionar un rango de fechas en el calendario y crear una nueva disponibilidad
            select: function (info) {
                // Redirige a la página de creación, pasando las fechas de inicio y fin seleccionadas
                window.location.href = '/RES/ResAgenda/Create?start=' + info.startStr + '&end=' + info.endStr;
            }
        });

        calendar.render();
    });
</script>
