@model Medipac.Areas.CLI.ViewModels.CliMedicoUserViewModel

@{
    ViewData["Title"] = "Panel de Gestión Médico";
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}

<h1>Bienvenido a su panel de gestión @Model.DtoCliMedico.Nombres</h1>
