<!-- Modal Redireccion -->
<div class="modal fade" id="Mdl_Mensaje" tabindex="-1" aria-labelledby="Mdl_Redireccion" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header bg-pag">
                <h5 class="modal-title text-white" id="MdlR_Titulo"></h5>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <p id="MdlR_Mensaje"></p>
                <div class="d-flex justify-content-end mt-3">
                    <button type="button" id="MdlR_Lnk_Cerrar" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" id="MdlR_Lnk_Redireccion" class="btn btn-primary" data-url="" data-bs-dismiss="modal">Redireccionar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal General -->
<div class="modal fade" id="Mdl_General" tabindex="-1" aria-labelledby="Mdl_General" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header bg-pag">
                <h5 class="modal-title text-white" id="MdlG_Titulo"></h5>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div id="MdlG_body"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal General XL -->
<div class="modal fade" id="Mdl_GeneralXL" tabindex="-1" aria-labelledby="Mdl_GeneralXL" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header bg-pag">
                <h5 class="modal-title text-white" id="MdlG_TituloXL"></h5>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div id="MdlG_bodyXL"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var Div_Error = "<div class='alert alert-danger text-center'><h4><i class='bi bi-exclamation-triangle-fill'></i>&nbsp;Ha sucedido un error</h4><p>Se produjo un error en la carga de datos, por favor intente nuevamente.</p></div>";
    var Div_Cargando = "<div class='d-flex justify-content-center'><div class='spinner-border text-primary' role='status'><span class='visually-hidden'>Cargando...</span></div></div>";

    function ModalGeneral(titulo, url) {
        document.getElementById("MdlG_Titulo").innerHTML = titulo;
        $('#Mdl_General').modal('show');
        CargarDiv("MdlG_body", url);
    }

    function ModalGeneralXL(titulo, url) {
        document.getElementById("MdlG_TituloXL").innerHTML = titulo;
        $('#Mdl_GeneralXL').modal('show');
        CargarDiv("MdlG_bodyXL", url);
    }

    function Resultado(response, divload, urldivload) {
        $("#Mdl_General").modal("hide");
        $("#Mdl_GeneralXL").modal("hide");
        RespuestaModal(response);
        if (response.operacion) { CargarDiv(divload, urldivload); }
    }

    function RespuestaModal(response) {
        let icono = "";
        $("#MdlR_Lnk_Redireccion").hide();
        $("#MdlR_Lnk_Cerrar").hide();
        let redireccion = false;

        switch (response.tipo) {
            case "ok":
                icono = "<i class='bi bi-check-circle-fill text-success'></i> Operación Exitosa";
                break;
            case "E":
                icono = "<i class='bi bi-x-circle-fill text-danger'></i> Error";
                break;
            case "A":
                icono = "<i class='bi bi-exclamation-triangle-fill text-warning'></i> Advertencia";
                break;
            case "R":
                icono = "<i class='bi bi-check-circle-fill text-success'></i> Operación Exitosa";
                redireccion = true;
                break;
            default:
                break;
        }

        document.getElementById("MdlR_Titulo").innerHTML = icono;
        document.getElementById("MdlR_Mensaje").innerHTML = response.mensaje;

        if (redireccion) {
            $("#MdlR_Lnk_Redireccion").attr("data-url", response.url).show();
        } else {
            $("#MdlR_Lnk_Cerrar").show();
        }

        $('#Mdl_Mensaje').modal('show');
    }

    function CargarDiv(div, url) {
        $("#" + div).html(Div_Cargando);
        $("#" + div).load(url, function (responseTxt, statusTxt, xhr) {
            if (statusTxt === "error") {
                $("#" + div).html(Div_Error);
            }
        });
    }

    $("#MdlR_Lnk_Redireccion").click(function () {
        const url = $(this).data("url");
        window.location.href = url;
    });
</script>
